.product-widget-area .zigzag-bottom {
  background: #f4f4f4;
}
.footer-top-area .zigzag-bottom {
  background: #f4f4f4;
}
.footer-top-area {
  background: none repeat scroll 0 0 #333;
  color: #999;
  padding: 35px 0 180px;
}

.footer-bottom-area {
  background: #000;
  color: #fff;
}
.footer-about-us span {
  color: #5a88ca;
}
.footer-wid-title { 
  font-size: 30px;
  font-weight: 100;
  color: #fff;
}

.footer-about-us h2 {
  font-weight: 200;
}
.footer-menu ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.footer-menu ul li {
  border-bottom: 1px dashed #555;
  padding: 5px 0;
}
.footer-menu a {
  display: block;
  padding: 5px 0;
  color: #999;
}

.footer-social a {
  background: none repeat scroll 0 0 #5a88ca;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
  text-align: center;
  width: 40px;
  border: 1px solid #5a88ca;
}

.footer-social a:hover {
  background-color: #222;
  border-color: #666;
}

.footer-social {
  margin-top: 20px;
}

.newsletter-form input[type="email"] {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
.newsletter-form input[type="submit"] {
  background: none repeat scroll 0 0 #5a88ca;
  border: medium none;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 7px 20px;
  text-transform: uppercase;
  border: 1px solid #5a88ca;
}
.newsletter-form input[type="submit"]:hover {
  background: #222;
  border-color: #666;
}
.newsletter-form {
  margin-top: 25px;
}
a {
  color: #5a88ca;
}
a:hover,
a:focus {
  color: #17a78b;
}
.footer-bottom-area {
  background: none repeat scroll 0 0 #000;
  color: #fff;
  padding-bottom: 40px;
}

.footer-card-icon {
  font-size: 30px;
  text-align: right;
}

.copyright > p {
  margin: 10px 0 0;
}

.product-big-title-area {
  background: url(img/crossword.png) repeat scroll 0 0 #5a88ca;
}

.product-bit-title h2 {
  font-family: raleway;
  font-size: 50px;
  font-weight: 200;
  margin: 0;
  padding: 50px 0;
  color: #fff;
}

.single-product-area .zigzag-bottom {
  background-color: #f4f4f4;
}

.single-product-area {
  padding: 80px 0 130px;
}

/* ------MENU------- */
#main-menu {
  margin-top: 40px;
}
#header-bottom .westeros-form {
  margin-top: 50px;
}
.westeros-dropdown-container {
  margin-top: 45px;
}
#header-bottom .logo {
  width: 140px;
}
.cart li.item .quantity {
  margin-top: 10px;
}
#main-menu > ul > li > a.submenu:after {
  display: none;
}
#main-menu > ul > li > a.submenu:before {
  display: none;
}

#main-menu {
  background-color: white;
}
#main-menu > ul > li {
  border: none !important;
  color: black;
  height: 100%;
}
#main-menu > ul > li > a {
  color: black;
  transition: all 0.2s;
  font-weight: 600;
}
#main-menu > ul > li > a:hover {
  transform: translateY(-1px);
}
#main-menu > ul > li:hover {
  background-color: white;
}
header .westeros-separator {
  display: none !important;
}
#main-menu > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 40px;
}
.pull-nav {
  z-index: -1000;
}

@media only screen and (max-width: 1100px) {
  #main-menu > ul > li > a {
    padding: 0 20px;
  }
  #main-menu {
    margin-top: -20px;
  } 
}
@media only screen and (max-width: 900px) {
  #main-menu > ul > li > a {
    padding: 0 10px;
  } 
}
@media only screen and (max-width: 785px) {
  #main-menu ul {
    display: none;
  }
  .pull-nav {
    z-index: 1;
  }
  #main-menu  {
    background-color: rgb(194, 188, 188);
  }
}

.new-search-icon {
  width: 38px;
  height: 38px;
}

/* ======= */
.slider-area {
  width: 100%;
  position: relative;
  margin: 0 auto 40px;
}
/*-------------------------
[9. Block slider]
---------------------------*/
.block-slider {
  border: none;
  width: 100%;
}
.block-slider ul li {
  list-style: none;
}
.block-slider .bx-pager {
  display: none;
}
.block-slider .bx-prev,
.block-slider .bx-next {
  width: 32px;
  height: 32px;
  border: 1px solid #eaeaea;
  text-align: center;
  display: block;
  border-radius: 50%;
  font-size: 30px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 29px;
  -moz-transition: all 0.45s ease;
  -webkit-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.block-slider img {
  width: 100%;
  height: auto;
}
.block-slider .bx-prev {
  left: 0px;
  padding-right: 3px;
}
.block-slider .bx-next {
  right: 0px;
  padding-left: 3px;
}
.block-slider:hover .bx-prev {
  left: 10px;
}
.block-slider:hover .bx-next {
  right: 10px;
}
.block-slider .bx-prev:hover,
.block-slider .bx-next:hover {
  background: #454c55;
  color: #fff;
  border-color: #454c55;
}
.block-slider .bx-prev,
.block-slider .bx-next {
  /* background: #454c55; */
  color: #454c55;
  /* border-color: #454c55; */
}

/*------------------
[4. Slidershow]
------------------*/

.block-slider .bx-pager {
  display: block;
  text-align: center;
}
.block-slider .bx-pager-item {
  width: 15px;
  height: 15px;
  background: #fff;
  font-size: 0;
  display: inline-block;
  border-radius: 50%;
  margin: 0 3px;
}
.block-slider .bx-pager-item a {
  width: 100%;
  height: 100%;
  background: rgb(179, 177, 177);
  display: block;
  border-radius: 50%;
}
.block-slider .bx-pager-item a.active {
  background: black;
}
.block-slider .caption-group {
  position: absolute;
  top: 26%;
  right: 16%;
}
.block-slider .caption-group .title {
  margin: 0;
}
.block-slider .caption-group .subtitle {
  margin: 0;
  margin-top: 5px;
}
.block-slider .caption-group .button-radius {
  margin-top: 27px;
}
.block-slider .caption-group .primary {
  color: #1bd172;
}
.block-slider .caption-group .caption {
}

h3.title:after {
  background-color: #4e5c64;
}
#banner-wrap {
  padding-bottom: 30px;
}
ul.slide-controls a.button {
  border-bottom: 2px solid #363f46;
  background-color: #5a7381;
}
ul.slide-controls a.button:hover {
  background-color: #3a5666;
}
.pull-nav {
  width: 40px;
  height: 45px;
  top:5px !important;
}

@media screen and (max-width: 1260px){
  #main-menu {
    margin-top: 0px; 
}
}

a.button.wishlist {
  background-color: rgb(241, 72, 72);
  border-bottom-color: rgb(172, 56, 56);
}
a.button.wishlist:hover {
  background-color: rgb(235, 30, 30);
}

.button.cart-add { 
  background-color: rgb(245, 178, 55) !important; 
  border-bottom: 3px solid rgb(202, 152, 59) ; 
}
.button.cart-add:hover { 
  background-color: rgb(245, 165, 17) !important;  
  color:white;
  text-decoration: none;
}
.footer-top-area{
  padding-bottom: 30px;
}
.footer-bottom-area{
  padding-bottom: 0;
}

.product-quick-view { 
  height: 500px; 
}
.product-quick-view .counter .value h5 { 
  line-height: 18px; 
}
.product-quick-view .counter .value h5 { 
  line-height: 18px; 
}

#shop.right .shop-products {
  float: none;
  margin: 0 auto;;
}

.shop-products .pager li .button {
  height: 30px !important;
  border-bottom-width: 2px!important;
  background-color: #00b0ff !important;
}
.shop-products .pager li a {
  display: block !important;
  text-align: center !important;
  line-height: 28px !important;
  color: #81929b;
  font-family: "Montserrat",sans-serif !important;
  font-size: 0.6875em !important;
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  position: relative !important;
      padding: 0 !important;;
      background-color: #fff;
      border: none!important;
      border-radius: 0!important;
}

.shop-products .pager li>a, .shop-products .pager li>span {
  /* display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd; */
  /* border-radius: 0; */
}
.pager li  {
  float: left;
    width: 28px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    background-color: #fff;
}
.mobile-menu{
  opacity: 0;
}
@media only screen and (max-width:786px) {
  .mobile-menu{
    opacity: 1;
  }
}

ul.product-list .list-item .pin.circle { 
  background: url(/images/icons/tag1.png) no-repeat center; 
  /* background-size: contain; */
  
}
#register-login .featured-form:last-child {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.contact-form {
  float: none;
  width: 100%;
}

.about-us-detail{
  width:90%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.radio{
  min-height: unset;
  margin-top: 0;
  margin-bottom: 0;
}
.profile-info .profile-data .westeros-form .full-input { 
  margin-bottom: 0;
}